
</div>
</div>
<div class="page-footer font-small blue pt-4 footer">

	<!-- Copyright -->
	  <div class="footer-copyright text-center py-3">&copy; Copyright 2019, Digital-Doctor Corporation:
	    <a href="https://digital-doctor.shef.ac.uk">digital-doctor</a>
	  </div>
  	<!-- Copyright --> 
</div>  
</body>
</html>