<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">   
    <script type='text/javascript' src="js/jquery-1.11.0.min.js"></script>
    <script type='text/javascript' src="js/sdk.js"></script>
</head> 
<style>
    .disabledButton { color: silver; }
    .table-wrapper {
        margin-top: 50px;
    }

    body{
       margin:0px;
       padding:0px;
       height:100%;
    }
    .wraper{
       width:90%;
       margin:0px auto;
      height:100%;
      overflow:hidden
    } 

    .img {
        width: 40px;
        height: 40px;
    }

    .logo {
      width: 200px;
      height: 150px;  
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px; 
    }

    .google {
      width: 200px;
      height: 50px;  
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .add-form {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .footer { 
       margin-top: 50px;
       bottom: 0;
       width: 100%;
      text-align: center;
      background:#5862;
    }

    .btn-primary, .btn-primary:active, .btn-primary:visited {
        background-color: #90759e !important;
    }

    .btn-primary:hover {
        background-color: #73607d !important;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
    }

    .btn-success, .btn-success:active, .btn-success:visited {
        background-color: #7bb3aa !important;
    }

    .btn-success:hover {
        background-color: #09b396 !important;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
    }

    .btn-danger, .btn-danger:active, .btn-danger:visited {
        background-color: #e6509a !important;
    }

    .btn-danger:hover {
        background-color: #e33089 !important;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
    }


</style>
<body>  
    <div class="text-center"> 
    <img src="<%= web_uri  %>/Images/digital-doctor-logo.png" alt="digital doctor logo" class="logo">
    </div> 
    <div class="text-center">
      <h2>Digital Doctor Website.</h2> 
    </div>
    
<div class="wraper">