<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1" ><a href="/participant">Home</a></span> 
    <a href="/addparticipant" title="Add a new Participant">New Participant</a> 
    <a href="/uploadparticipants" title="Upload Participants">Upload Participants</a> 
    <a href="/conversations" title="Conversations">Conversations</a>
    <a href="/conversation" title="New Conversation">New Conversation</a> 
    <a class="float-right" href="/logout" title="Logout">Logout</a>
</nav>