<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1" ><a href="/clinician">Home</a></span>
    <a href="/addclinician" title="Add a new Clinician">Add a Clinician</a> 
    <a class="float-right" href="/logout" title="Logout">Logout</a>
</nav>