[Unit]
Description=digital-doctor serivice
Documentation=https://digital-doctor.shef.ac.uk:8081
After=network.target

[Service]
Environment=NODE_PORT=8081
Type=simple
User=sa_ac1bm
ExecStart=/usr/bin/node /home/sa_ac1bm/iva_rec/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
