<% include partials/header.ejs %>
<% include partials/header-participant.ejs %> 

<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <form class="add-form" action="" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="first_name" id="first-name" placeholder="First Name" required>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Last Name" required>
            </div>
            <div class="form-group col-md-4"> 
                <label for="male">Male</label>
                <input type="checkbox" class="form-control" name="male" id="male"> 
            </div>
            <div class="form-group col-md-4"> 
                <input type="text" class="form-control" name="dob" id="dob" placeholder="YYYY-MM-DD" required  pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" title="Enter a date in this format YYYY-MM-DD"/>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="diagnosis" id="diagnosis" placeholder="Diagnosis">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="comment" id="comment" placeholder="Comment">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="user_name" id="user_name" placeholder="Username" required>
            </div>
            <div class="form-group col-md-4">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="configuration" id="configuration" placeholder="Configuration" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="password" id="password" placeholder="Password" required>
            </div> 
        </div>

        <div class="form-row float-right">
            <a href="#" onclick="history.go(-1)" class="btn btn-primary">Cancel</a>&nbsp;&nbsp;
            <button type="submit" class="btn btn-success">Add Participant</button>  
        </div>
    </form>
</div>
<% include partials/footer.ejs %>
